<% layout('layouts/boilerplate') %>

<div class="container my-5">
  <div>
    <a href="/products"><i class="bi bi-arrow-left"></i> All products</a>
  </div>
  <div class="row">
    <h1 class="text-center mb-4">Add a New Product</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/products" method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label for="name" class="form-label">Product name</label>
          <input type="text" id="name" class="form-control" name="product[name]" required />
          <div class="invalid-feedback">Enter the product name.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" id="description" class="form-control" name="product[description]" required></textarea>
          <div class="invalid-feedback">Add a product description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="text" id="image" class="form-control" name="product[image]" required />
          <div class="invalid-feedback">Please add an image.</div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" id="category" class="form-control" name="product[category]" required />
          <div class="invalid-feedback">Add a product category</div>
        </div>
        <div class="mb-3">
          <label for="sellingPrice" class="form-label">Selling price</label>
          <div class="input-group">
            <span class="input-group-text">₦</span>
            <input id="sellingPrice" type="number" class="form-control" placeholder="0.00" name="product[sellingPrice]" min="0" required />
            <div class="invalid-feedback">Enter the selling price</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="inventory" class="form-label">Inventory</label>
          <input type="number" id="inventory" class="form-control" name="product[inventory]" min="0" required />
          <div class="invalid-feedback">Enter current stock</div>
        </div>
        <div class="mb-3">
          <label for="inventory" class="form-label">Low stock</label>
          <input type="number" id="inventory" class="form-control" name="product[lowStock]" placeholder="At what number is stock low?" min="0" required />
          <div class="invalid-feedback">Enter low stock indicator</div>
        </div>
        <!------------ For image upload ---------->
        <!-- <div class="mb-3">
               <label for="image" class="form-label">Add images</label>
               <input
                  type="file"
                  name="image"
                  class="form-control"
                  id="image"
                  multiple
               />
            </div> -->
        <!----------------- ^^^^^^^^^^ ------------------->
        <div class="mb-3">
          <button class="btn btn-success">Add Product</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/validateForms.js"></script>
