<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <h1>Everlush ERP</h1>
  <div class="mt-4">
    <a href="/products" class="btn btn-success">Show all products</a>
    <a href="/suppliers" class="btn btn-success">Show all suppliers</a>
    <a href="/transactions" class="btn btn-success"> View transactions</a>
  </div>
</div>
