<% layout('layouts/boilerplate') %>

<div class="container mt-5">
   <h1>Everlush ERP</h1>
   <div class="py-4">
      <h2>Show all</h2>
      <a href="/products" class="btn btn-success">Products</a>
      <a href="/suppliers" class="btn btn-success">Suppliers</a>
      <a href="/transactions" class="btn btn-success">Transactions</a>
   </div>
   <div class="py-4">
      <h2>Add new +</h2>
      <a href="/products/new" class="btn btn-primary">Products</a>
      <a href="/suppliers/new" class="btn btn-primary">Suppliers</a>
      <a href="/transactions/new" class="btn btn-primary"> Transactions</a>
   </div>
</div>
