.badge {
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
}

.badge-primary {
  background-color: var(--bg-primary);
  color: #fff;
}

.badge-secondary {
  background-color: var(--grey-400);
  color: #fff;
}

.badge-success {
  background-color: var(--bg-success);
  color: #fff;
}

.badge-warning {
  background-color: var(--bg-warning);
  color: #000;
}

.badge-danger {
  background-color: var(--bg-danger);
  color: #fff;
}
