.Table {
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
}

.Table-container {
  max-width: 1100px;
  overflow-x: auto;
  border: 1px solid var(--bg-primary);
  border-radius: 8px;
}

.Table-header {
  padding: 1em 2em 0.5em;
  width: 100%;
}

.Table > thead {
  vertical-align: bottom;
  background-color: var(--grey-100);
  text-align: left;
  border-bottom: 1px solid #000;
}

.Table tbody {
  border-bottom: 1px solid var(--grey-200);
}

thead,
th,
tbody,
tr,
td,
tfoot {
  border-width: 0;
  border-style: solid;
  border-color: inherit;
}

.Table td,
.Table th {
  padding: 0.5em;
  min-width: 80px;
}

.Table tr > td {
  height: 60px;
}

.Table tbody tr:nth-child(2n) {
  background-color: var(--grey-100);
}

/* Transactions Table on Product Page */
.Table-default {
  text-align: center;
  margin: 1em;
  color: var(--grey-400);
}

.Transactions-sale {
  background-color: var(--clr-success-100);
  position: relative;
}

.Transactions-sale::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--bg-success);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  top: 0;
  right: 0;
}

.Transactions-purchase {
  background-color: var(--clr-primary-100);
  position: relative;
}
.Transactions-purchase::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--bg-primary);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  top: 0;
  right: 0;
}

.Transactions-adjustment {
  background-color: var(--clr-danger-100);
  border-bottom: 4px solid var(--bg-danger);
}

/* Transactions Table on Product page */
.CustomerPage-table {
  margin: 0 1em;
}
