/*************** 
   **********************************--- All Suppliers -*/
.AllSuppliers {
   width: 90%;
   margin: 1em auto 5em;
}

.AllSuppliers-header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.AllSuppliers-layout {
   display: flex;
   border-radius: 8px;
   border: 1px solid var(--grey-200);
   position: relative;
   height: 800px;
   overflow: auto;
}

.AllSuppliers-sidebar {
   flex: 0 0 35%;
   border-right: 1px solid var(--grey-200);
   height: 100%;
   max-width: 410px;
   overflow: auto;
}

.AllSuppliers-searchbar {
   padding-top: 1em;
}
.AllSuppliers-searchbar input[type='text'] {
   border: none;
   width: 90%;
   margin-inline: auto;
   font-size: 0.875rem;
}
.AllSuppliers-searchbar input[type='text']:not(:placeholder-shown) {
   outline: 1px solid var(--grey-200);
}

.AllSuppliers-radios {
   display: flex;
   align-items: center;
   margin: 0.5em 0;
   background-color: var(--grey-100);
   padding: 1em;
}

.AllSuppliers-input-group {
   display: inline-flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   margin-right: 2em;
}

.AllSuppliers-radios input {
   width: 1.25em;
   height: 1.5em;
   cursor: pointer;
}

.AllSuppliers-radios label {
   font-size: 0.875rem;
   font-weight: 600;
   cursor: pointer;
}

.AllSuppliers-list-end {
   font-size: 14px;
   margin: 2em auto;
   color: var(--grey-200);
}

.AllSuppliers-list a:last-child .AllSuppliers-list-item {
   border-bottom: none;
}

.AllSuppliers-list-item {
   color: var(--main-color);
   height: 92px;
   padding: 1em;
   position: relative;
   border-bottom: 1px solid var(--grey-200);
}

.AllSuppliers-list-item:hover,
.AllSuppliers-list-item-active li {
   background-color: var(--clr-success-100);
}

.AllSuppliers-list-item p {
   font-size: 14px;
   font-weight: 700;
   color: var(--grey-300);
}

.AllSuppliers-list-item small {
   position: absolute;
   bottom: 16px;
   right: 10px;
   font-size: 12px;
}

@media (max-width: 600px) {
   .AllSuppliers-layout {
      flex-direction: column;
   }
}

/*************** 
   **********************************--- New Supplier -*/
.NewSupplier {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
   overflow: auto;
   padding: 3em 1em 1em;
   background-color: var(--clr-light-blue);
}

.NewSupplier .Form-close {
   color: var(--text-black);
}
.NewSupplier-form .Form-check-group {
   background-color: var(--clr-success-100);
   border: 1px solid var(--bg-success);
}

/*************** 
**********************************--- Edit Supplier -*/
.EditSupplier {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   max-height: 600px;
   width: 95%;
   overflow: hidden auto;
   top: 100px;
   left: 1em;
   padding: 3em 1em;
   background-color: var(--clr-light-blue);
   border-radius: 0.5em;
   box-shadow: 1px 2px 5px #00000066;
   z-index: 1000;
}

.EditSupplier::-webkit-scrollbar {
   width: 10px;
}
.EditSupplier::-webkit-scrollbar-track {
   background: var(--clr-light-blue);
}
.EditSupplier::-webkit-scrollbar-thumb {
   background-color: var(--grey-200);
   border-radius: 0.25em;
}
.EditSupplier::-webkit-scrollbar-thumb:hover {
   background-color: var(--grey-300);
}

.EditSupplier .Form-close {
   color: var(--text-black);
}

/*************** 
      **********************************--- Supplier Page -*/
.SupplierPage {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 2em;
   overflow-x: auto;
}

.SupplierPage-table {
   margin: 0 1em;
}

/*************** 
      **********************************--- Supplier Display -*/
.SupplierDisplay-info {
   width: 100%;
   height: 100%;
}
.SupplierDisplay-body {
   padding: 1.5em;
}

.SupplierDisplay-desc {
   position: relative;
}

.SupplierDisplay-active-badge {
   position: absolute;
   right: 10px;
   top: 0;
}

.SupplierDisplay-title {
   font-size: 1.5rem;
   margin-bottom: 0.25em;
}

.SupplierDisplay-text i {
   vertical-align: middle;
   color: var(--second-color);
}

.SupplierDisplay-buttons {
   margin-top: 1.5em;
}

.SupplierDisplay-list {
   border-top: 1px solid var(--grey-200);
}

.SupplierDisplay-list-item {
   padding: 0.5em 1.5em;
   border-bottom: 1px solid var(--grey-200);
}

.SupplierDisplay-list-item i {
   vertical-align: middle;
}

.SupplierDisplay-featured {
   font-size: 14px;
   background-color: var(--grey-100);
}
