/* .CustomerDisplay {
  width: 100%;
} */

.CustomerDisplay-info {
  width: 100%;
  height: 100%;
}
.CustomerDisplay-body {
  padding: 1.5em;
}

.CustomerDisplay-desc {
  position: relative;
}

.CustomerDisplay-active-badge {
  position: absolute;
  right: 10px;
  top: 0;
}

.CustomerDisplay-title {
  font-size: 1.5rem;
  margin-bottom: 0.25em;
}

.CustomerDisplay-text i {
  vertical-align: middle;
  color: var(--second-color);
}

.CustomerDisplay-buttons {
  margin-top: 1.5em;
}

.CustomerDisplay-list {
  border-top: 1px solid var(--grey-200);
}

.CustomerDisplay-list-item {
  padding: 0.5em 1.5em;
  border-bottom: 1px solid var(--grey-200);
}

.CustomerDisplay-list-item i {
  vertical-align: middle;
}

.CustomerDisplay-featured {
  font-size: 14px;
  background-color: var(--grey-100);
}
