<% layout('layouts/boilerplate') %>

<div class="container my-5">
  <h1 class="text-center mb-4">Settings</h1>
  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body position-relative">
          <div class="img-fluid position-absolute end-0 top-0 mt-4 me-5"><img src="/images/everlush-logo-icon.png" alt="logo" width="80" /></div>
          <p class="text-success"><b>Business info</b></p>
          <h3 class="card-title">Everlush Nigeria</h3>
          <div class="card-body">
            <p class="text-muted"><b>Branch</b><a href="#" class="ms-5">Edit</a></p>
            <p class="card-text"><i class="bi bi-building"></i> Ikeja Office</p>
            <p class="card-text"><i class="bi bi-house"></i> 90 Obafemi Awolowo Way, Ikeja, Lagos</p>
            <p class="card-text"><i class="bi bi-telephone"></i> 08023778896, 07021355897</p>
            <p class="card-text"><i class="bi bi-envelope"></i> everlushlimited@yahoo.com</p>
          </div>
          <hr />
          <div class="card-body">
            <p class="text-muted"><b>Branch</b><a href="#" class="ms-5">Edit</a></p>
            <p class="card-text"><i class="bi bi-building"></i> Agege Warehouse</p>
            <p class="card-text"><i class="bi bi-house"></i> 90 Obafemi Awolowo Way, Agege, Lagos</p>
            <p class="card-text"><i class="bi bi-telephone"></i> 08023778896, 07021355897</p>
            <p class="card-text"><i class="bi bi-envelope"></i> everlushagege@yahoo.com</p>
          </div>
          <hr />
          <div class="card-body">
            <a href="#" class="btn btn-outline-primary btn-sm">Add new branch +</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 gy-4">
      <div class="card">
        <div class="card-body">
          <p class="text-muted"><b>Other settings</b></p>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="bi bi-person-plus"></i> &nbsp; Add new user</h5>
                <small>&rarr;</small>
              </div>
              <small>Active users: 3</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
